
html, body {
	background-color: #bbe1fa;
	color: #1b262c;
	font-family: serif;
	font-weight: 200;
	height: 100vh;
	margin: 0;
}

textarea{
	font-size: 17px;
	height:2rem;
	border-radius:3rem;
	padding-left: 1rem;
}


.flex-item{
	width: 100px;
	height: 100px;
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
	padding-top:100px;
}

.title {
	font-size: 84px;
}

.links > a {
	color:#1b262c;
	padding: 1rem 25px;
	margin:0.5rem 0 0.5rem 0;
	font-size: 25px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	border-radius: 1rem;
}

.m-b-md {
	margin-bottom: 30px;
}

.btn-thema{
	display: inline-block;
	width:80%;
	background-color: #bbe1fa;
	padding:200px 8px;
}

.btn-m{
	margin:5px 5px;
}

.comment-box_send {
	background-color: lightgreen;
	border-radius: 0.5rem;
	padding-right: 0.8rem;
}

.comment-box_recieve {
	background-color: lightgray;
	border-radius: 0.5rem;
	padding-left: 0.8rem;

}


